a*{
	scroll-behavior: smooth !important;
}
.y{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.ye{
	margin-bottom: 100px
}

.yes{
	text-align: center;
	padding-top: 80px;
}




